/* Form Container */
.form-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 3rem 8rem;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
}

/* Title */
.form-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

/* Form */
.registration-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Message */
.form-message {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #0077cc;
}
