.btn {
  color: white;
  border: 2px solid white;
  padding: 12px 24px;
  margin: 8px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: capitalize;
}

.btn:hover {
  transform: scale(1.1);
  border-color: rgba(159, 159, 159, 0.168);
  box-shadow: 0 4px 8px rgba(143, 143, 143, 0.3);
}
